body {
    background-color: #F28AB2;
}

.container {
    background-color: white;
    margin: 0 auto;
    width: 400px;
}

img {
    border-radius: 300px;
    width: 100px;
    height: 100px;
    padding: 30px 30px;
    float: left;
}